
module.exports = {

    environment: process.env.NODE_ENV || 'development',
    env: '',
    app: 'nginx vhost manager',
    tokenSecret: "",
    datastores: {
    },
    security: {
      allowIpFiltering: true,
      whitelistedIps: ['127.0.0.1', '::1'],
      users: {
        admin: 'nginxAdminHost987654321'
      },
    },
    mail: {
        protocol: 'SMTP',
        options: {
            host: '127.0.0.1',
            port: 25
        },
        from: 'hello@someuser.com'
    },
    devops: {
        host: '.yourhost.com',
        servers: {
          'develop': {
            host: '62.210.75.68',
            username: 'jenkins',
          },
          'blackstar': {
            host: '163.172.81.20',
            username: 'azuremaster',
          },
        },
    },
};
